.u-margin-tm { margin-top: 1em};
.u-margin-rm { margin-top: 1em};
.u-margin-bm { margin-top: 1em};
.u-margin-lm { margin-top: 1em};

.u-margin-tl { margin-top: 2em};
.u-margin-rl { margin-top: 2em};
.u-margin-bl { margin-top: 2em};
.u-margin-ll { margin-top: 2em};

.u-margin-vm {
  margin-top: 1em;
  margin-bottom: 1em
}

.u-margin-vl {
  margin-top: 2em;
  margin-bottom: 2em

}
.u-margin-vxl {
  margin-top: 3em;
  margin-bottom: 3em
}
