*.srt
*.vtt
*.txt
*.lrc
.env
.stack-work/
ted2srt.cabal

.DS_Store

backend/dist/*.js
backend/dist/*.map
backend/dist/*.css
backend/result

static/tmp/
.psc-package
.psc-ide-port
.spago
output/
dce-output/
node_modules
bower_components
