sudo: false

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

addons:
  postgresql: "9.4"
  apt:
    packages:
      - libgmp-dev

before_install:
  # Download and unpack the stack executable
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

install:
  - stack --no-terminal setup

script:
  - cd server
  - psql --version
  - stack --no-terminal --skip-ghc-check test
