@value primaryRed, lightGray from '../../css/color.css';

.header {
  border-bottom: 1px solid lightGray;
  padding: 1.25rem 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container form {
  width: 100%;
}

.logo {
  color: primaryRed;
  font-size: 1.5rem;
  white-space: nowrap;
  margin-right: 1rem;
}
