/* https://github.com/css-modules/css-modules/issues/75#issuecomment-150361899 */
@value small, medium, large from '../css/media-query.css';
@value primaryGray, primaryRed from '../css/color.css';

.root {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.logo {
  color: primaryRed;
  font-size: 2rem;
  text-align: center;
  margin: 4rem 0;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 0;
  margin: 4rem auto;
}
@media small {
  .list {
    height: 375vw;
  }
}
@media medium {
  .list {
    height: 150vw;
  }
}
@media large {
  .list {
    flex-direction: column;
    height: 22.5rem;
  }
}


.tile {
  position: relative;
  margin: 1px;
}
.tile:hover {
  box-shadow: 0 8px 8px primaryGray;
  z-index: 7;
}
@media small {
  .tile {
    width: calc(100% - 2px);
    height: calc(20% - 2px);
  }
}
@media medium {
  .tile {
    width: calc(50% - 2px);
    height: calc(25% - 2px);
  }
  .tile:first-child {
    width: calc(100% - 2px);
    height: calc(50% - 2px);
  }
}
@media large {
  .tile {
    width: calc(25% - 2px);
    height: calc(50% - 2px);
  }
  .tile:first-child {
    width: calc(50% - 2px);
    height: calc(100% - 2px);
    font-size: 1.2em;
  }
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.4em 0.8em;
  background-color: primaryGray;
  color: white;
}

.title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.speaker {
  font-size: 0.8em;
  margin-bottom: 0.4em;
}
