.AspectRatio {
  margin: auto;
  max-width: 480px;
}
@media (--large) {
  .AspectRatio {
    max-width: 960px;
  }
}

.AspectRatio-wrapper {
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 375%;
}
@media (--medium) {
  .AspectRatio-wrapper {
    padding-bottom: 150%;
  }
}
@media (--large) {
  .AspectRatio-wrapper {
    padding-bottom: 37.5%;
  }
}

.AspectRatio-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.FeaturedTalks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
}
@media (--large) {
  .FeaturedTalks {
    flex-direction: column;
  }
}


.FeaturedTalks-tile {
  position: relative;
  margin: 1px;
}
.FeaturedTalks-tile:hover {
  box-shadow: 0 8px 8px var(--primary-gray);
  z-index: 7;
}
@media (--small) {
  .FeaturedTalks-tile {
    width: calc(100% - 2px);
    height: calc(20% - 2px);
  }
}
@media (--medium) {
  .FeaturedTalks-tile {
    width: calc(50% - 2px);
    height: calc(25% - 2px);
  }
  .FeaturedTalks-tile:first-child {
    width: calc(100% - 2px);
    height: calc(50% - 2px);
  }
}
@media (--large) {
  .FeaturedTalks-tile {
    width: calc(25% - 2px);
    height: calc(50% - 2px);
  }
  .FeaturedTalks-tile:first-child {
    width: calc(50% - 2px);
    height: calc(100% - 2px);
    font-size: 1.2em;
  }
}

.FeaturedTalks-image {
  width: 100%;
  height: 100%;
}

.FeaturedTalks-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.4em 0.8em;
  background-color: var(--primary-gray);
  color: white;
}

.FeaturedTalks-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.FeaturedTalks-speaker {
  font-size: 0.8em;
  margin-bottom: 0.4em;
}
