.Languages li {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 10px;
  width: 219px;
}
.Languages li:first-letter {
  font-size: 1.2em;
}
.Languages li.selected {
  color: white;
  background-color: var(--primary-red);
}
