.Media {
  display: flex;
  flex-wrap: wrap;
}

.Media-image {
  margin-bottom: 1em;
}
@media (--large) {
  .Media-image {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.Media-body {
  flex: 1;
}
