.SearchForm {
  margin: auto;
  width: 100%;
  max-width: 480px;
}

.SearchForm-input {
  border: var(--border);
  font-size: 1rem;
  line-height: 1.2em;
  outline: none;
  padding: 0.6em;
  width: 100%;
}
.SearchForm-input:focus {
  border-color: var(--primary-red);
}

.SearchForm-submit {
  display: none;
}
