.TalkApp {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
}

article p {
  margin-bottom: 0.75rem;
}

.PlayButton {
  opacity: 0.5;
  transition: all 0.5s;
}

.Image:hover .PlayButton {
  opacity: 1;
  transform: scale(1.8);
}
