:root {
  --page-width: 960px;
  --primary-red: #ff5722;
  --primary-black: #212121;
  --primary-gray: rgba(0, 0, 0, 0.54);
  --white: #fff;
  --border: 1px solid rgba(0, 0, 0, 0.26);
  --separator-color: rgba(0, 0, 0, 0.12);
  --separator: 1px solid var(--separator-color);
}
