<ion-view>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-readt"
            ng-hide="MainCtrl.subheaderShown"
            ng-click="MainCtrl.subheaderShown = true">
      <i class="icon reted-search"></i>
    </button>
    <button class="button button-clear button-readt"
            ng-show="talk.hasAudio"
            ng-click="playAudio()">
      <i class="icon ion-headphone"></i>
    </button>
  </ion-nav-buttons>
  <ion-content ng-class="{'has-subheader': MainCtrl.subheaderShown}">
    <article class="TalkPage">
      <h2>{{ talk.title }}</h2>
      <h4>
        {{ talk.speaker }} |
        <span>{{talk.publishedAt | date:'yyyy-M-d'}}
      </h4>
      <p ng-bind-html="talk.transcript"></p>
    </article>
  </ion-content>
  <ion-footer-bar class="bar-assertive"
                  align-title="left"
                  ng-if="model.audioPlayerShown">
    <div class="buttons"
         ng-show="model.playButtonShown"
         ng-click="toggleAudio()">
      <button class="button button-clear">
        <i class="icon" ng-class="model.playButtonClass"></i>
      </button>
    </div>
    <h1 class="title">{{model.audioProgress}}</h1>
    <div class="buttons" ng-click="stopAudio()">
      <button class="button button-clear">
        <i class="icon ion-stop"></i>
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
