@page-width: 960px;
@primary-red: #ff5722;
@primary-gray: #f5f5f5;
@primary-black: #212121;
@black: #000;
@white: #fff;
@border: 1px solid fade(@black, 26);
@separator: 1px solid fade(@black, 12);

*, *:before, *:after {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 8px;
  background: #fafafa;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    text-decoration: underline;
    color: @primary-red;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

p {
  margin-top: 0;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: @page-width;
  min-width: 320px;
  margin: auto;
}

#search {
  input[type=text] {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    line-height: 18px;
    border: @border;
    &:focus {
      border-color: @primary-red;
    }
  }
  input[type=submit] {
    display: none;
  }
}

#homepage {
  #logo {
    margin-top: 100px;
    text-align: center;
    font-size: 2rem;
    color: @primary-red;
  }
  #search {
    margin: 40px auto 60px;
    width: 100%;
    max-width: 480px;
  }
  #talks {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    .tile {
      position: relative;
      margin: 1px;
      &:hover {
        box-shadow: 0 8px 8px fade(@black, 54);
        z-index: 7;
      }

      .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 8px 12px;
        background-color: fade(@black, 54);
        color: white;
        p {
          margin: 0;
          &.speaker {
            font-size: 0.8em;
          }
          &.title {
            font-weight: bold;
          }
        }
      }
    }
  }
}

header {
  padding: 20px 0;
  border-bottom: @border;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  #logo {
    margin-right: 20px;
    font-size: 1.4rem;
    line-height: 40px;
    a {
      color: @primary-red;
      &:hover {
        text-decoration: none;
      }
    }
  }
  #search {
    flex: 1;
  }
}

.talk-info-body {
  display: flex;
  flex-wrap: wrap;
  > a {
    margin-bottom: 1em;
  }
  > p {
    flex: 1;
  }
}

#talk-page {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex: 1 auto;
  }
  h4 {
    margin: 0;
    padding: 5px 0 5px 10px;
    font-size: 1rem;
    background-color: fade(@black, 12);
    border-bottom: @separator;
  }
  #talk-info {
    margin-bottom: 1em;
  }
  #languages {
    border: @border;
    border-radius: 4px;
    li {
      cursor: pointer;
      display: inline-block;
      padding: 5px 10px;
      margin: 5px 10px;
      &:first-letter {
        font-size: 1.2em;
      }
      &.selected {
        color: @primary-gray;
        background-color: @primary-red;
      }
    }
  }
  #downloads {
    ul {
      border: @border;
      border-radius: 4px;
      margin: 1em 0;
    }
    li {
      &:not(:last-child) {
        border-bottom: @separator;
      }
      a {
        display: inline-block;
        padding: 5px 0 5px 20px;
        width: 100%;
        text-decoration: none;
        color: @primary-black;
        &:hover {
          color: @primary-red;
        }
      }
    }
    #watch {
      a {
        display: inline-block;
        padding: 5px 20px;
        width: 100%;
        border: @border;
        border-radius: 4px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#player-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: fade(@black, 87);
  display: none;
  justify-content: center;
  align-items: center;
}

.Site {
  position: relative;
  min-height: 100vh;
  padding-bottom: 6em;
}

.Footer {
  padding: 1em;
  text-align: center;
  border-top: @border;
}

.Footer--absolute {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

@media all and (max-width: 495px) {
  #homepage {
    #talks {
      .tile {
        width: 100%;
      }
    }
  }

  #talk-page {
    #languages {
      li {
        width: 100%;
        margin: 0;
        padding: 5px 20px;
      }
    }
  }
}

@media all and (min-width: 496px) {
  .container {
    width: 480px;
  }
  #homepage {
    #talks {
      width: 480px;
      flex-direction: row;
      .tile {
        height: 178px;
        width: 238px;
        &:nth-child(1) {
          width: 478px;
          height: 358px;
          .info {
            font-size: 1.2em;
          }
        }
      }
    }
  }
  header {
    #logo {
      text-align: center;
    }
  }
  .talk-info-body {
    a {
      width: 480px;
      height: 360px;
    }
    > p {
      flex: 1 auto;
    }
  }
  #talk-page {
    width: 480px;
    #languages {
      li {
        width: 219px;
      }
    }
  }
}

@media all and (min-width: 960px) {
  .container {
    width: 960px;
  }
  #homepage {
    #talks {
      flex-direction: column;
      width: 960px;
      height: 360px;
    }
  }
  .talk-info-body {
    > a {
      width: 240px;
      height: 180px;
      margin-right: 1em;
    }
    > p {
      flex: 1 0;
    }
  }
  #talk-page {
    width: 960px;
    #main {
      flex: 5 0 0;
      margin-right: 6em;
    }
    #downloads {
      flex: 1 0 0;
    }
  }
}
