@value primaryGray, lightGray, lighterGray from '../css/color.css';
@value large from '../css/media-query.css';

.root {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0;
}

@media large {
  .root {
    flex-direction: row;
  }
}

@media large {
  .main {
    flex: 1 auto;
    margin-right: 4rem;
  }
}

.info {
  display: flex;
  margin-top: 1rem;
}

.cover {
  background-size: cover;
  background-position: 50%;
}

@media large {
  .cover {
    flex-shrink: 0;
    width: 240px;
    height: 180px;
    margin-right: 1rem;
  }
}

.description {
  flex: 1 auto;
}

.date {
  display: block;
  font-style: italic;
  color: primaryGray;
}

.article {
  font-size: 1.125rem;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row p:first-child {
  font-family: serif;
}

@media large {
  .row {
    flex-direction: row;
  }

  .row p {
    width: 48%;
  }
}
