@value large from '../../css/media-query.css';
@value lightGray, primaryRed from '../../css/color.css';

.form {
  width: 100%;
  margin: 0 auto;
}

@media large {
  .form {
    width: 50%;
  }
}

.input {
  border: 1px solid lightGray;
  font-size: 1rem;
  line-height: 1.2em;
  outline: none;
  padding: 0.6em;
  width: 100%;
}
.input:focus {
  border-color: primaryRed;
}
