.HomeApp {
  display: grid;
  grid-gap: 1rem;
  padding: 0 1rem;
}

@screen md {
  .HomeApp {
    grid-template-columns: 1fr 1fr;
  }
}

@screen lg {
  .HomeApp {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@screen xl {
  padding: 0;
}
