@value primaryRed from './color.css';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 8px;
  background: #fafafa;
  color: #333;
  position: relative;
  min-height: 100vh;
  padding-bottom: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.6;
  min-height: 1.25rem;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;

  @nest &:hover {
    text-decoration: underline;
    color: primaryRed;
  }
}
